body{background-color: rgb(131, 95, 165);}
.textinhos{color:rgb(42, 255, 255) ;font-weight: 100; font-family: Lugrasimo;}
.links{color: rgb(162, 33, 33);}
button{border-radius: 20px;background-color: rgb(6, 240, 178);}
.textinho{color:rgb(244, 206, 81);font-weight: 100;}
